<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trek List</title>
    <div th:insert="~{includes :: header}"></div>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }
        .card-header {
            background-color: #343a40;
            color: #ffc107;
        }
        .card-body {
            background-color: #ffffff;
        }
        .form-label {
            color: #343a40;
        }
        .btn-primary {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #343a40;
        }
        .btn-primary:hover {
            background-color: #e0a800;
            border-color: #d39e00;
            color: #ffffff;
        }
    </style>
</head>
<body class="sb-nav-fixed" style="background: url('images/background-pattern.jpg') repeat; background-size: cover; background-color: #eee;">
<div th:insert="~{includes :: topNav}"></div>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <div th:insert="~{menu :: eventMenu}"></div>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="container w-60 mt-5 mb-4">
                    <div class="row">
                        <div class="card border-0 shadow">
                            <div class="card-header p-3">
                                <h5 class="text-center">Trek List</h5>
                            </div>
                            <div class="card-body p-3">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <h2 class="section-title">Events</h2>
                                        <div class="trek-items">
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-4" th:each="trek : ${treks}">
                                                    <div class="card mb-4 shadow-sm">
                                                        <img th:src="@{/uploads/{image}(image=${trek.image})}" class="card-img-top" alt="Trek Image">
                                                        <div class="card-body">
                                                            <h5 class="card-title" th:text="${trek.eventDescription}">Event Description</h5>
                                                            <p class="card-text"><i class="fas fa-map-marker-alt"></i> <span th:text="${trek.location}">Location</span></p>
                                                            <p class="card-text">
                                                                <i class="fas fa-calendar-alt"></i>
                                                                <span th:text="${#dates.format(trek.eventDate, 'dd-MM-yyyy')}">Event Date</span>
                                                            </p>
                                                            <p class="card-text">
                                                                <i class="fas fa-id-badge"></i>
                                                                <span th:text="${trek.eventId}">Event ID</span>
                                                            </p>
                                                            <div th:if="${trek.itineraryDescription}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryDescription}">Itinerary Description 1</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryTwo}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryTwo}">Itinerary Description 2</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryThree}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryThree}">Itinerary Description 3</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryFour}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryFour}">Itinerary Description 4</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryFive}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryFive}">Itinerary Description 5</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itinerarySix}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itinerarySix}">Itinerary Description 6</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itinerarySeven}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itinerarySeven}">Itinerary Description 7</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryEight}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryEight}">Itinerary Description 8</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryNine}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryNine}">Itinerary Description 9</span>
                                                                </p>
                                                            </div>
                                                            <div th:if="${trek.itineraryTen}">
                                                                <p class="card-text">
                                                                    <i class="fas fa-list"></i> <span th:text="${trek.itineraryTen}">Itinerary Description 10</span>
                                                                </p>
                                                            </div>
                                                            <a th:href="@{/editTrek/{id}(id=${trek.id})}" class="btn btn-primary">Edit</a>
                                                            <a th:href="@{/deleteTrek/{id}(id=${trek.id})}" class="btn btn-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 offset-md-5">
                                                <a href="/trekForm" class="btn btn-primary btn-block">Add New Trek</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:insert="~{includes :: footer}"></div>
    </div>
</div>
<div th:insert="~{includes :: script}"></div>
</body>
</html>
