<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trek Details</title>
    <link rel="stylesheet" href="/css/trek.css">
</head>
<body>
<header class="header">
    <a href="#" class="logo"><img src="/images/logo/CampIndia.jpeg" alt="Travel Logo" class="small-logo"></a>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/aboutUs">About</a>
        <a href="/treks">Treks & Tour</a>
        <a href="/services">Services</a>
        <a href="#">Gear On Rent</a>
        <a href="#">Expert Advice</a>
    </nav>
</header>

<div class="container">
    <h1 th:text="${trek.eventDescription}">Event Description</h1>
    <img th:src="@{/uploads/${trek.image}}" alt="Event Image">
    <p>Date: <span th:text="${#dates.format(trek.eventDate, 'dd MMMM yyyy')}">Event Date</span></p>
    <p>Location: <span th:text="${trek.location}">Location</span></p>
    <p th:text="${trek.eventDescription}">Event Description</p>
</div>
</body>
</html>
