@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

:root {
    --green: #219150;
    --black: #10221b;
    --white: #fff;
    --light-bg: #eee;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--white);
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}

section {
    padding: 5rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    border: var(--border);
    color: var(--black);
    cursor: pointer;
    background: none;
    font-size: 1.7rem;
    padding: 1rem 3rem;
}

.btn:hover {
    background: var(--black);
    color: var(--white);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
}

.header .logo i {
    color: var(--green);
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--green);
}

.header .navbar #nav-close {
    font-size: 5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.header .icons a,
.header .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .icons a:hover,
.header .icons div:hover {
    color: var(--green);
}

.header #menu-btn {
    display: none;
}

.search-form {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    transform: translateY(-110%);
    transition: transform 0.3s ease;
}

.search-form.active {
    transform: translateY(0%);
}

.search-form #close-search {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: var(--white);
    font-size: 6rem;
}

.search-form #close-search:hover {
    color: var(--green);
}

.search-form form {
    width: 70rem;
    margin: 0.2rem;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid var(--white);
    display: flex;
    align-items: center;
}

.search-form form input {
    width: 100%;
    font-size: 1.7rem;
    color: var(--white);
    text-transform: none;
    background: none;
    padding-right: 2rem;
}

.search-form form input::placeholder {
    color: #aaa;
}

.search-form form label {
    font-size: 3rem;
    cursor: pointer;
    color: var(--white);
}

.search-form form label:hover {
    color: var(--green);
}

.home {
    padding: 0;
}

.home .box {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
}

.home .box.second {
    justify-content: flex-start;
}

.home .box .content {
    width: 50rem;
}

.home .box .content span {
    font-size: 4rem;
    color: var(--black);
}

.home .box .content h3 {
    font-size: 6rem;
    color: var(--green);
    text-transform: uppercase;
}

.home .box .content p {
    line-height: 2;
    color: var(--black);
    font-size: 1.5rem;
    padding: 1rem 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
    color: var(--black);
}









@media (max-width: 1200px) {
    .header {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }
}

@media (max-width: 911px) {
    html {
        font-size: 55%;
    }

    .home .box {
        padding: 2rem;
        justify-content: center;
        background-position: right !important;
    }

    .home .box.second {
        justify-content: center;
        background-position: left !important;
    }

    .home .box .content {
        text-align: center;
    }

    .home .box .content span {
        font-size: 3rem;
    }

    .home .box .content h3 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .header #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: fixed;
        top: 0;
        left: -110%;
        background: var(--white);
        z-index: 10000;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s ease;
    }

    .header .navbar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    }

    .header .navbar a {
        margin: 1rem 0;
        font-size: 3rem;
    }

    .header .navbar #nav-close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
