@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

:root {
    --green: #219150;
    --black: #10221b;
    --white: #fff;
    --yellow: #ffd700;
    --light-bg: #eee;
    --navbar-bg: rgba(0, 0, 0, 0.7);
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem 9%;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: var(--navbar-bg);
    border-radius: 2rem;
}

.header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bolder;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar a {
    margin-left: 2rem;
    font-size: 1.7rem;
    color: var(--white);
}

.header .navbar a:hover {
    color: var(--yellow);
}

.footer {
    padding: 20px 0;
    color: #fff;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    padding: 20px;
}

.footer .box-container .box h3 {
    font-size: 2rem;
    padding: 1.5rem 0;
    color: #fff;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: #fff;
    padding: 1rem 0;
    text-decoration: none;
}

.footer .box-container .box a:hover {
    color: #FFD700;
}

.footer .credit {
    text-align: center;
    margin-top: 2.5rem;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
}

.footer .credit span {
    color: #FFD700;
}
