<th:block th:fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="Camp India" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }
    </style>
</th:block>

<th:block th:fragment="topNav">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand ps-3" href="../index.html" style="color: #ffc107;">CampIndia</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <style>
        .navbar-brand {
            font-weight: bold;
        }
        .navbar-nav .nav-link {
            color: #ffffff;
        }
        .navbar-nav .nav-link:hover {
            color: #ffc107;
        }
    </style>
</th:block>


<th:block th:fragment="footer">
    <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small text-white">
                <div>CampIndia &copy; Designed and Developed by CampIndia</div>
                <div>
                    <a href="#" style="color: #ffc107;">Privacy Policy</a>
                    &middot;
                    <a href="#" style="color: #ffc107;">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
    <style>
        .bg-dark {
            background-color: #343a40 !important;
        }
        .bg-dark a {
            color: #ffc107 !important;
        }
        .bg-dark a:hover {
            color: #ffffff !important;
        }
    </style>
</th:block>


<th:block th:fragment="script">
    <script type="text/javascript" th:src="@{/assets/required/jquery-3.7.0.min.js}"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/scripts.js}"></script>
</th:block>

