<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link th:href="@{css/login.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 login-box">
            <div class="login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="login-title">
                ADMIN PANEL
            </div>

            <div class="login-form">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label class="form-control-label">USERNAME</label>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">PASSWORD</label>
                        <input type="password" class="form-control" name="password" required>
                    </div>

                    <div class="loginbttm">
                        <div class="login-text">
                            <p th:text="${error}" style="color: red"></p>
                        </div>
                        <div class="login-button">
                            <button type="submit" class="btn btn-outline-primary">LOGIN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
