
<th:block th:fragment="eventMenu">
    <nav class="sb-sidenav accordion sb-sidenav-dark vh-100" id="sidenavAccordion6">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">MATI</div>
                <a class="nav-link" th:href="@{/admin}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Nomination</div>
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#menu-6" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    MENU
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="menu-6" aria-labelledby="heading-1" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/eventsForm}">Event Form</a>
                        <a class="nav-link" th:href="@{/eventList}">Event List</a>
                        <!--                        <a class="nav-link" th:href="@{/uploadParticipantAssessment}">Upload Assessment</a>-->
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</th:block>